<form id="signup" name="signup" method="POST" action="/api/users/signup">
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label for="employeeCellNumber">Employee Cell Number </label>
        <input type="text" name="employeeCellNumber" required>
    </div>
    <div>
        <label for="employeeFirstName">Employee First Name</label>
        <input type="text" name="employeeFirstName"> 
    </div>
    <div>
    <label for="employeeLastName"> Employee Last Name</label>
    <input type="text" name="employeeLastName">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>